.confirmation_form_section {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg,#f8f8f8 20%,#fff 80%);
}

.confirmation_form_container {
  margin: 0 auto!important;
  max-width: 133rem!important;
  padding: 100px 2.5rem!important;
}

.confirmation_form_content {
  margin: 0 auto 10rem;
}

.confirmation_form_box {
  border-radius: 5px;
  box-shadow: 1px 10px 20px 0 rgba(218, 186, 3, 0.37);
  color: #010103;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 4rem 4.5rem 5rem 5.5rem;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.confirmation_form_title {
  background-color: rgb(218, 185, 3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.confirmation_form_main_form {
  display: flex;
  grid-gap: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.buttons_box {
  display: flex;
  justify-content:space-evenly;
  margin-top: 2rem;
}

.modal_button {
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: rgb(218, 185, 3);
  box-shadow: 0 10px 15px rgba(255, 189, 48, 0.35);
  color: #525252;
  cursor: pointer;
  font-family: Rubik,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: fit-content;
  padding: 1.3rem;
  transition: all .3s;
}