footer {
  background-color: black;
  color: #525252;
  padding: 5rem 0;
}

.footer_container {
  margin: 0 auto!important;
  max-width: 133rem!important;
  padding: 0 2.5rem!important;
}

.footer_content {
  grid-gap: 8rem;
  color: #525252;
  display: grid;
  gap: 8rem;
  grid-template-columns: 30fr 30fr 30fr 30fr;
  text-align: left;
}

.footer_content ul {
  list-style: none;
}